VITE_APP_NAME='Intelligent Email Watchdog'
VITE_IPBIND='0.0.0.0'
VITE_PORT=4400
VITE_M2M_TOKEN_HASH=''

DATABASE_URL=''

VITE_CLOUDFLARE_ACCOUNT_ID=''
VITE_CLOUDFLARE_API_TOKEN=''
VITE_D1_DATABASE_ID=''

VITE_JWT_SECRET=''
VITE_JWT_EXPIRATION='1h'
VITE_TOKEN_PREFIX='ewatchdog_'
